nav.m-5
  ul.pagination.justify-content-center
    li.page-item.disabled
      a.page-link(href='#')
        span &laquo;
    li.page-item.active(style="pointer-events: none")
      a.page-link(href='#') 1
    li.page-item
      a.page-link(href='#') 2
    li.page-item
      a.page-link(href='#') 3
    li.page-item
      a.page-link(href=next)
        span &raquo;
