nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.pb-3.pb-lg-0
  .container-fluid.d-flex.flex-wrap.px-1.px-md-5.justify-content-center.justify-content-sm-between.col-sm-11
    a.navbar-brand(href='index.html')
      img(src=logo alt="Rick and morty logo" width="130")
    .col-lg-4.col-12.col-sm-6.px-2.px-sm-0
      input.form-control.me-2.bg-light.bg-opacity-75#search(type='search' placeholder='Find your favorite character' aria-label='Search')